html{
    background-color: #fff; 
}

h1{
    
}

/*passionné
==============*/
header{
    background-image: url(../ressource/image/audi.jpg);
    background-size: cover;
    background-position:center;
    height: 100vh;
}

.home-title h1{
    font-family: 'benchnine',sans-serif;
    font-size: 400%;
    margin: 10px;
    text-align: center;
    height: 300px;
    width: 300px;
}
.site{
    color: #baaaaa;
    position: absolute;
    top: 80px;
    left: 10px;
    
}
.passion{
    color: #433838;
    position: absolute;
    top: 250px;
    right: 40px;
    
}
.car{
    color: #434242;
    font-size: 700;
    position: absolute;
    top: 550px;
    right: 10px;
}

.site:hover{
    background-image: url(../ressource/image/audiRS8.jpg);
    transition: 0.5s;
    color: transparent;
    transform: translateY(-30px);
}

.passion:hover{
    background-image: url(../ressource/image/audi3.jpg);
    transition: 0.5s;
    color: transparent;
    transform: translateY(-100px);
}
.car:hover{
    background-image: url(../ressource/image/audi2.jpg);
    transition: 0.5s;
    color: transparent;
    transform: translateY(-200px);
}


/*style de voiture
========================*/
.fam{
    background-color: #ded7d7;
}

.style h1{
    text-align: center;
    font-size: 100px;
    font-weight: 300;
    font-family: 'lato','sans-serif';
    
}
.style{
    background-color: #cacec3;
    color: #000000;
    height: 150px;
    border-radius: 50px;
    margin: 15px;
}


.btn{
    font-family: 'benchnine', 'sans-serif';
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
    border: 3px solid #080708;
    background-color: #bfbcbc;
    font-size: 150%;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
    
}
.btn-familly{
    position: relative;
    left: 90px; 
}

.btn-sport{
    position: relative;
    left: 120px;
}

.btn-cut{
    position: relative;
    left: 50px;
}
 img{
    margin: 15px auto;
    display: block;
    width: 100%;
    border-radius: 20px;
    height: 500px;
}

p{
    font-size: 80%;
    font-family: 'benchnine',sans-serif;
}
/*fans
==============*/

.audi{
    background-image: url(../ressource/image/audipaysage1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.fan h2{
    text-align: center;
    font-family: 'benchnine',sans-serif;
    font-weight: 180;
    font-size: 500%;
}
blockquote{
    font-family: 'benchnine',sans-serif;
    font-size: 20px;
    color: white;
    margin: 10px;
    
}
.girls{
    position: absolute;
    top: 280px;
}

cite{
    position: absolute;
    right: 30px;
    color: white;
    margin: 10px;
}
.site-girl{
    position: absolute;
    top: 500px;
}

/*galeries
=============*/

.galerie-photo img{
    width: 20%;
    height: 20%;
    border: 4px solid #a2a2a2;
    margin: 0;
}

.galerie1{
    transform: rotate(-15deg);
    position: absolute;
    left: 100px;
    top: 15px;
}

.galerie2{
    position: absolute;
    left: 450px;
    top: 20px;
    transform: rotate(10deg);
}

.galerie3{
    position: absolute;
    right: 20px;
    transform:rotate(-10deg);
}

.galerie4{
    position: absolute;
    top: 180px;
    left: 190px;
    transform: rotate(-20deg);
}

.galerie5{
    position: absolute;
    top: 200px;
    right:100px;
    transform: rotate(18deg)
}

.galerie6{
    position: absolute;
    top: 280px;
    left: 450px;
    transform: rotate(15deg);
}

.galerie7{
    position: absolute;
    top: 350px;
    transform: rotate(20deg);
    left: 80px;
}

.galerie8{
    position: absolute;
    top: 380px;
    right: 30px;
    transform: rotate(-20deg);
}

.galerie9{
    position: absolute;
    top: 480px;
    left: 450px;
    transform: rotate(-10deg);
    
}








