html{
    background-color: #fff; 
}

/* navbar
==============*/
.fixed-top{
    background-color: #696969;
}

.navbar-brand{
    background-color: white;
    font-family: 'benchnine' , sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
}
.ml-auto{
    background-color: white;
    border-radius: 30px;
    font-family: 'benchnine' , sans-serif;
    font-size: 15px;
    text-align: center;
    width: 300px;
    padding-left: 10px;
}

/*passionné
==============*/
header{
    background-image: url(../ressource/image/audi.jpg);
    background-size: cover;
    background-position:center;
    height: 100vh;
}

.home-title h1{
    font-family: 'benchnine',sans-serif;
    font-size: 400%;
    margin: 10px;
    text-align: center;
    height: 300px;
    width: 300px;
}
.mordus{
    color: #baaaaa;
    position: absolute;
    top: 80px;
    left: 10px;
    
}
.passion{
    color: #433838;
    position: absolute;
    top: 250px;
    right: 40px;
    
}
.car{
    color: #434242;
    font-size: 700;
    position: absolute;
    top: 550px;
    right: 10px;
}

.mordus:hover{
    background-image: url(../ressource/image/audiRS8.jpg);
    transition: 0.5s;
    color: transparent;
    transform: translateY(-30px);
}

.passion:hover{
    background-image: url(../ressource/image/audi3.jpg);
    transition: 0.5s;
    color: transparent;
    transform: translateY(-100px);
}
.car:hover{
    background-image: url(../ressource/image/audi2.jpg);
    transition: 0.5s;
    color: transparent;
    transform: translateY(-200px);
}


/*style de voiture
========================*/
.fam{
    background-color: #ded7d7;
}

.style h1{
    text-align: center;
    font-size: 100px;
    font-weight: 300;
    font-family: 'lato','sans-serif';
    
}
.style{
    background-color: #cacec3;
    color: #000000;
    height: 150px;
    border-radius: 50px;
    margin: 15px;
}


.btn{
    font-family: 'benchnine', 'sans-serif';
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
    border: 3px solid #080708;
    background-color: #bfbcbc;
    font-size: 150%;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
    
}
.btn-familly{
    position: relative;
    left: 90px; 
}

.btn-sport{
    position: relative;
    left: 120px;
}

.btn-cut{
    position: relative;
    left: 50px;
}
 .fam img{
    margin: 15px auto;
    display: block;
    width: 100%;
    border-radius: 20px;
    height: 500px;
}

p{
    font-size: 80%;
    font-family: 'benchnine',sans-serif;
}

.infobulle{
    transform: scale(0) rotateX(-360deg);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 0 0.5px (0 0 0 0.3);
    transition: 2s;
    left: 100px;
    font-size: 20px;
}

.infobulle::before{
    content: "";
    position: absolute;
    border-bottom: 10px solid rgba(0, 0, 0, 0.56);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: -10px;
    margin-left: 60px;
}
.element:hover> .infobulle{
    transform: scale(1) rotateX(0);
}


.infobulle2{
    transform: scale(0) rotatez(-180deg);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 0 0.5px (0 0 0 0.3);
    transition: 2s;
    left: 100px;
    font-size: 20px;
}

.infobulle2::before{
    content: "";
    position: absolute;
    border-bottom: 10px solid rgba(0, 0, 0, 0.56);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: -10px;
    margin-left: 60px;
}
.element:hover> .infobulle2{
    transform: scale(1) rotatez(0);
}

.infobulle3{
    transform: scale(0) rotateY(-180deg);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 0 0.5px (0 0 0 0.3);
    transition: 2s;
    left: 100px;
    font-size: 20px;
}

.infobulle3::before{
    content: "";
    position: absolute;
    border-bottom: 10px solid rgba(0, 0, 0, 0.56);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: -10px;
    margin-left: 60px;
}
.element:hover> .infobulle3{
    transform: scale(1) rotateY(0);
}
/*fans
==============*/

.audi{
    background-image: url(../ressource/image/audipaysage1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
 h2{
    text-align: center;
    font-family: 'benchnine',sans-serif;
    font-weight: 180;
    font-size: 500%;
}
blockquote{
    font-family: 'benchnine',sans-serif;
    font-size: 20px;
    color: white;
    margin: 10px;
    position: relative;
    
}
.girls{
    position: absolute;
    top: 280px;
}

cite{
    position: absolute;
    right: 30px;
    color: white;
    margin: 10px;
}
.site-girl{
    position: absolute;
    top: 500px;
}

.audi img{
    margin: 15px auto;
    display: block;
    width: 100%;
    border-radius: 20px;
    height: 500px;
}

/*galeries
=============*/

.galerie-photo img{
    width: 350px;
    height: 250px;
    border: 4px solid #a2a2a2;
    margin: auto;
    position: relative;
    border-radius: 15px;
}


.galerie1{
    right: 20px;
    top: 35px;
    transform: scale(1) rotate(-15deg);
    transition: 1s ease-in-out;
}

.galerie2{
    transform: scale(1) rotate(10deg);
    transition: 1s ease-in-out;
}

.galerie3{
    left: 0px;
    bottom: 0px;
    transform: scale(1) rotate(-10deg);
    transition: 1s ease-in-out;
}

.galerie4{
    bottom: 50px;
    transform: scale(1) rotate(20deg);
    transition: 1s ease-in-out;
}

.galerie5{
    bottom: 0px;
    left: 50px;
    transform: scale(1) rotate(18deg);
    transition: 1s ease-in-out;
}

.galerie6{
    top:20px;
    transform: scale(1) rotate(-5deg);
    transition: 1s ease-in-out;
}

.galerie7{
    bottom: 100px;
    transform: scale(1) rotate(-20deg);
    transition: 1s ease-in-out;
}

.galerie8{
    bottom: 50px;
    right: 20px;
    transform: scale(1) rotate(-20deg);
    transition: 1s ease-in-out;
}


.galerie1:hover{
    transform: scale(2);
    z-index: 2;
}

.galerie2:hover{
    transform: scale(2);
    z-index: 2;
}

.galerie3:hover{
    transform: scale(2);
    z-index: 2;
}

.galerie4:hover{
    transform: scale(2);
    z-index: 2;
}

.galerie5:hover{
    transform: scale(2);
    z-index: 2;
}

.galerie6:hover{
   transform: scale(2);
    z-index: 2;
}

.galerie7:hover{
    transform: scale(2);
    z-index: 2;
}

.galerie8:hover{
    transform: scale(2);
    z-index: 2;
}


/*contact
=============*/

.slider2{
    border: 5px solid;
    border-style: inset;
    border-color: black;
    border-radius: 50px;
    margin: 20px;
}

.phone {
    position: relative;
    top: 10px;
}

.adress{
    position: relative;
    top: 10px;
}

footer{
    background-color: black;
    color: white;
    height: 50px;
}

.copyright{
    text-align: center;
    font-size: 20px;
    font-family:'benchnine', sans-serif;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 2px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 2px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.5;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
span.psw {
    float: right;
    padding-top: 16px;
}
label{
    padding-top: 10px;
}
