html{
    background-color: #fff; 
}

/* navbar
==============*/
.fixed-top{
    background-color: #696969;
}

.navbar-brand{
    background-color: white;
    font-family: 'benchnine' , sans-serif;
    font-size: 20px;
    border-radius: 15px;
}
.ml-auto{
    background-color: white;
    border-radius: 30px;
    font-family: 'benchnine' , sans-serif;
    font-size: 20px;
}

/*passionné
==============*/
header{
    background-image: url(../ressource/image/audi.jpg);
    background-size: cover;
    background-position:center;
    height: 100vh;
}

.home-title h1{
    font-family: 'benchnine',sans-serif;
    font-size: 400%;
    margin: 10px;
    text-align: center;
    height: 300px;
    width: 300px;
}
.site{
    color: #baaaaa;
    position: absolute;
    top: 80px;
    left: 10px;
    
}
.passion{
    color: #433838;
    position: absolute;
    top: 250px;
    right: 40px;
    
}
.car{
    color: #434242;
    font-size: 700;
    position: absolute;
    top: 550px;
    right: 10px;
}

.site:hover{
    background-image: url(../ressource/image/audiRS8.jpg);
    transition: 0.5s;
    color: transparent;
    transform: translateY(-30px);
}

.passion:hover{
    background-image: url(../ressource/image/audi3.jpg);
    transition: 0.5s;
    color: transparent;
    transform: translateY(-100px);
}
.car:hover{
    background-image: url(../ressource/image/audi2.jpg);
    transition: 0.5s;
    color: transparent;
    transform: translateY(-200px);
}


/*style de voiture
========================*/
.fam{
    background-color: #ded7d7;
}

.style h1{
    text-align: center;
    font-size: 100px;
    font-weight: 300;
    font-family: 'lato','sans-serif';
    
}
.style{
    background-color: #cacec3;
    color: #000000;
    height: 150px;
    border-radius: 50px;
    margin: 15px;
}


.btn{
    font-family: 'benchnine', 'sans-serif';
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
    border: 3px solid #080708;
    background-color: #bfbcbc;
    font-size: 150%;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
    
}
.btn-familly{
    position: relative;
    left: 90px; 
}

.btn-sport{
    position: relative;
    left: 120px;
}

.btn-cut{
    position: relative;
    left: 50px;
}
 img{
    margin: 15px auto;
    display: block;
    width: 100%;
    border-radius: 20px;
    height: 500px;
}

p{
    font-size: 80%;
    font-family: 'benchnine',sans-serif;
}

.infobulle{
    transform: scale(0) rotateX(-180deg);
    position: absolute;
    background-color: rgba(242, 8, 8, 0.56);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 0 0.5px (0 0 0 0.3);
    transition: 2s;
    left: 100px;
    font-size: 20px;
}

.infobulle::before{
    content: "";
    position: absolute;
    border-bottom: 10px solid rgba(242, 8, 8, 0.56);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: -10px;
    margin-left: 60px;
}
.element:hover> .infobulle{
    transform: scale(1) rotateX(0);
}


.infobulle2{
    transform: scale(0) rotatez(-180deg);
    position: absolute;
    background-color: rgba(29, 0, 255, 0.64);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 0 0.5px (0 0 0 0.3);
    transition: 2s;
    left: 100px;
    font-size: 20px;
}

.infobulle2::before{
    content: "";
    position: absolute;
    border-bottom: 10px solid rgba(29, 0, 255, 0.64);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: -10px;
    margin-left: 60px;
}
.element:hover> .infobulle2{
    transform: scale(1) rotatez(0);
}

.infobulle3{
    transform: scale(0) rotateY(-180deg);
    position: absolute;
    background-color: rgba(0, 255, 10, 0.67);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 0 0.5px (0 0 0 0.3);
    transition: 2s;
    left: 100px;
    font-size: 20px;
}

.infobulle3::before{
    content: "";
    position: absolute;
    border-bottom: 10px solid rgba(0, 255, 10, 0.67);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: -10px;
    margin-left: 60px;
}
.element:hover> .infobulle3{
    transform: scale(1) rotateY(0);
}
/*fans
==============*/

.audi{
    background-image: url(../ressource/image/audipaysage1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.fan h2{
    text-align: center;
    font-family: 'benchnine',sans-serif;
    font-weight: 180;
    font-size: 500%;
}
blockquote{
    font-family: 'benchnine',sans-serif;
    font-size: 20px;
    color: white;
    margin: 10px;
    
}
.girls{
    position: absolute;
    top: 280px;
}

cite{
    position: absolute;
    right: 30px;
    color: white;
    margin: 10px;
}
.site-girl{
    position: absolute;
    top: 500px;
}

/*galeries
=============*/

.galerie-photo img{
    width: 300px;
    height: 200px;
    border: 4px solid #a2a2a2;
    margin: 0;
}

.galerie1{
    position: absolute;
    left: 100px;
    top: 15px;
    transform: scale(1) rotate(-15deg);
    transition: 1s ease-in-out;
}

.galerie2{
    position: absolute;
    left: 450px;
    top: 20px;
    transform: scale(1) rotate(10deg);
    transition: 1s ease-in-out;
}

.galerie3{
    position: absolute;
    right: 20px;
    transform: scale(1) rotate(-10deg);
    transition: 1s ease-in-out;
}

.galerie4{
    position: absolute;
    top: 180px;
    left: 190px;
    transform: scale(1) rotate(-20deg);
    transition: 1s ease-in-out;
}

.galerie5{
    position: absolute;
    top: 200px;
    right:100px;
    transform: scale(1) rotate(18deg);
    transition: 1s ease-in-out;
}

.galerie6{
    position: absolute;
    top: 280px;
    left: 450px;
    transform: scale(1) rotate(15deg);
    transition: 1s ease-in-out;
}

.galerie7{
    position: absolute;
    top: 350px;
    transform: scale(1) rotate(20deg);
    transition: 1s ease-in-out;
    left: 80px;
}

.galerie8{
    position: absolute;
    top: 380px;
    right: 30px;
    transform: scale(1) rotate(-20deg);
    transition: 1s ease-in-out;
}

galerie9{
    position: absolute;
    top: 400px;
    left: 450px;
    transform: scale(1) rotate(-10deg);
    transition: 1s ease-in-out;
    
}

.galerie1:hover{
    transform: scale(2);
}

.galerie2:hover{
    transform: scale(2);
}

.galerie3:hover{
    transform: scale(2);
}

.galerie4:hover{
   transform: scale(2);
}

.galerie5:hover{
    transform: scale(2);
}

.galerie6:hover{
   transform: scale(2);
}

.galerie7:hover{
   transform: scale(2);
}

.galerie8:hover{
   transform: scale(2);
}



